{% extends 'base.html.twig' %}

{% block title %}Registration page{% endblock %}

{% block body %}
    <h1>Create your Account</h1><br>

    {{ form_start(registrationForm) }}

    
    <label for="exampleInputEmail1">{{ form_row(registrationForm.email) }}</label>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 
    <br>
    <label for="exampleInputPassword1">{{ form_row(registrationForm.plainPassword) }}</label>
    
 
    <br><button type="button" class="btn btn-dark">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
